.film_item {
	display: block;
	text-decoration: none;
	overflow: hidden;
	background: #f5f5f5;
	color: #323232;
	border-bottom: 1px solid #c5d3e1;
	padding: 10px;
	font-size: 14px;
}

.film_item:hover {
	background: #ecf5fd;
}

.film_item:active {
	background: #b8cde3;
}

.film_item_last {
	border-bottom: 0;
}

.film_item__poster {
	display: block;
	float: left;
	margin-right: 10px;
	width: 100px;
}

.film_item__description {
	overflow: hidden;
}

.film_item__title {
	font-weight: bold;
	font-size: 15px;
}